<h1>Handguns Database:</h1>

<table>
    <thead> 
        <th>Handgun Brand</th> 
        <th>Handgun Model</th> 
        <th>Handgun Caliber</th>
        <th>Handgun Barrel Length</th>  
    </thead> 
    <tbody> 
        {{#each handguns}} 
        <tr> 
            <td>{{handguns_brand}}</td> 
            <td>{{handguns_model}}</td> 
            <td>{{handguns_caliber}}</td> 
            <td>{{handguns_barrel_length}}</td>
            <td><button onclick="deleteHandguns({{handguns_id}})">Delete</button></td>
            <td><a href="/handguns/{{id}}">Update</a></td>
        </tr> 
        {{/each}}	
    </tbody> 
	
	<form id="addhandgun" action="/handguns" method="post">
    Handgun Brand: <input type="text" name="handguns_brand"><br>
    Handgun Model: <input type="text" name="handguns_model"><br>
    Handgun Caliber: <select name="handguns_caliber"> 
        {{#each ammunition_caliber}}
        <option value="{{ammunition_id}}">{{ammunition_caliber}}</option>
        {{/each}}
    </select><br>
    Handgun Barrel Length: <input type="number" name="handguns_barrel_length"><br>
    <input type="submit" value="Submit">
    </form>	
	
</table> 