<h1>Update {{round.ammunition_brand}} {{round.ammunition_model}}:</h1>
<form id="update-round" action="/ammunition" method="post">
    Ammunition Brand: <input type="text" name="ammunition_brand" value="{{round.ammunition_brand}}"><br>
    Ammunition Model: <input type="text" name="ammunition_model" value="{{round.ammunition_model}}"><br>
	Ammunition Caliber: <select name="ammunition_caliber" id="ammunition-selector"> 
        {{#each ammunition_caliber}}
        <option value="{{ammunition_id}}">{{ammunition_caliber}}</option>
        {{/each}}
    </select><br>
    Grain: <input type="number" name="grain" value="{{round.grain}}"><br>
</form>
<button onclick="updateRound({{round.ammunition_id}})">Update</button>
<script defer>selectAmmunition({{round.ammunition_caliber}});</script>